.password-wrapper {
    position: relative;

    input {
        padding-right: 2.5rem;
    }
}

.password-toggle {
    position: absolute;
    right: .75rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #adb5bd;

    &.active {
        color: var(--bs-primary);
    }
}
